[build]
  command = "npm run build"
  publish = "dist/salon-website/browser"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
